# ======================
# Eclipse
# ======================
.project
.classpath
.settings/

# ======================
# Java Build
# ======================
/bin/
/target/

# ======================
# Logs
# ======================
*.log

# ======================
# OS Files
# ======================
.DS_Store
Thumbs.db

# ======================
# Environment
# ======================
.env